.CoreLabUI__wrapper {
    position: relative;
    width: 100%;
    font-family: var(--font-family);
}

.CoreLabUI__root {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    font-family: var(--font-family);
}

.CoreLabUI__select {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    font-size: var(--font-medium);
    color: var(--text);
    background-color: var(--fields-background);
    cursor: pointer;
}

.CoreLabUI__select--small {
    padding: 10px 16px;
}

.CoreLabUI__select--medium {
    padding: 10px 16px;
}

.CoreLabUI__select--large {
    padding: 10px 16px;
}

.CoreLabUI__select-label {
    font-size: var(--font-small);
    color: var(--text);
    font-weight: 600;
}

.CoreLabUI__select-helper-text {
    font-size: var(--font-xsmall);
    color: var(--text-secondary);
    font-weight: 500;
}

.CoreLabUI__select::placeholder {
    font-size: var(--font-medium);
    color: var(--text-secondary);
}

.CoreLabUI__select:hover,
.CoreLabUI__root--error > input:hover {
    border: 1px solid var(--primary-hover);
}

.CoreLabUI__select:focus,
.CoreLabUI__root--error > input:focus {
    border: 1px solid var(--primary-hover);
}

.CoreLabUI__root:hover > .label {
    color: var(--primary-hover);
}

.CoreLabUI__root--disabled,
.CoreLabUI__root--disabled > input:hover,
.CoreLabUI__root--disabled > input:focus {
    border: 1px solid var(--border-color);
    color: var(--border-color);
    pointer-events: none;
}

.CoreLabUI__root--disabled > input::placeholder,
.CoreLabUI__root--disabled > .label,
.CoreLabUI__root--disabled > .helper-text {
    color: var(--border-color) !important;
}

.CoreLabUI__select--error {
    border: 1px solid var(--error);
}

.CoreLabUI__root--error > .label,
.CoreLabUI__root--error > .helper-text {
    color: var(--error) !important;
}

.CoreLabUI__select-menu {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--fields-background);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    position: absolute;
    width: 100%;
    left: 1px;
    margin-top: 8px;
    max-height: 300px;
    overflow: auto;
}

.CoreLabUI__select-menu--open {
    display: block;
    z-index: 1;
}

.CoreLabUI__select-menu--closed {
    display: none;
}

.CoreLabUI__select-menu__option--small,
.CoreLabUI__select-menu__option--medium,
.CoreLabUI__select-menu__option--large {
    padding: 10px 16px;
    font-size: var(--font-small);
    color: var(--text);
}

.CoreLabUI__select-menu__option--small:hover,
.CoreLabUI__select-menu__option--medium:hover,
.CoreLabUI__select-menu__option--large:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.CoreLabUI__select-menu__option--selected {
    background-color: var(--surface-light);
}

.CoreLabUI__select-menu__option--disabled,
.CoreLabUI__select-menu__option--disabled:hover {
    background-color: unset;
    color: var(--border-color);
}
