.CoreLabUI-classic__wrapper {
    position: relative;
    width: 100%;
    font-family: var(--font-family);
}

.CoreLabUI-classic__root {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    font-family: var(--font-family);
}

.CoreLabUI-classic__select {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    font-size: var(--font-medium);
    color: var(--text);
    background-color: var(--fields-background);
}

.CoreLabUI-classic__select--small {
    padding: 10px 16px;
    height: 40px;
}

.CoreLabUI-classic__select--medium {
    padding: 10px 16px;
    height: 48px;
}

.CoreLabUI-classic__select--large {
    padding: 10px 16px;
    height: 56px;
}

.CoreLabUI-classic__select-label,
.CoreLabUI-classic__select-helper-text {
    font-size: var(--font-xsmall);
    color: var(--text-secondary);
}

.CoreLabUI-classic__select::placeholder {
    font-size: var(--font-medium);
    color: var(--text-secondary);
}

.CoreLabUI-classic__select:hover,
.CoreLabUI-classic__root--error > input:hover {
    border: 1px solid var(--primary-hover);
}

.CoreLabUI-classic__select:focus,
.CoreLabUI-classic__root--error > input:focus {
    border: 1px solid var(--primary-hover);
}

.CoreLabUI-classic__root:hover > .label {
    color: var(--primary-hover);
}

.CoreLabUI-classic__root--disabled,
.CoreLabUI-classic__root--disabled > input:hover,
.CoreLabUI-classic__root--disabled > input:focus {
    border: 1px solid var(--border-color);
    color: var(--border-color);
    pointer-events: none;
}

.CoreLabUI-classic__root--disabled > input::placeholder,
.CoreLabUI-classic__root--disabled > .label,
.CoreLabUI-classic__root--disabled > .helper-text {
    color: var(--border-color) !important;
}

.CoreLabUI-classic__select--error {
    border: 1px solid var(--error);
}

.CoreLabUI-classic__root--error > .label,
.CoreLabUI-classic__root--error > .helper-text {
    color: var(--error) !important;
}

.CoreLabUI-classic__select-menu {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--fields-background);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    position: absolute;
    width: 100%;
    left: 1px;
    margin-top: 8px;
    max-height: 300px;
    overflow: auto;
}

.CoreLabUI-classic__select-menu--open {
    display: block;
    z-index: 1;
}

.CoreLabUI-classic__select-menu--closed {
    display: none;
}

.CoreLabUI-classic__select-menu__option {
    padding: 10px 16px;
}

.CoreLabUI-classic__select-menu__option:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.CoreLabUI-classic__select-menu__option--selected {
    background-color: var(--primary-disabled);
}

.CoreLabUI-classic__select-menu__option--disabled,
.CoreLabUI-classic__select-menu__option--disabled:hover {
    background-color: unset;
    color: var(--border-color);
}
