.container {
  position: relative;
  width: fit-content;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
}

.container--disabled {
  border: 2px solid transparent !important;
  background-color: inherit !important;
}

.button {
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  z-index: 1;
}

.button>span {
  position: relative;
  z-index: 2;
}

.button--small {
  font-size: var(--font-small);
  padding: 8px 16px;
}

.button--medium {
  font-size: var(--font-medium);
  min-width: 100px;
  padding: 12px 24px;
}

.button--large {
  font-size: var(--font-large);
  min-width: 100px;
  padding: 16px 32px;
}

.button:disabled {
  pointer-events: none;
  border: inherit;
}

.button--primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.button--primary:hover {
  background-color: var(--primary-hover);
  border: 2px solid var(--primary-hover);
}

.container--primary:active {
  border-radius: var(--border-radius);
  background: var(--primary-active);
  border: 2px solid var(--border-active);
}

.button--primary:disabled {
  background: var(--disabled);
  border: 2px solid var(--disabled);
}

.button--secondary {
  background-color: var(--white);
  border: 1px solid var(--secondary);
  color: var(--paragraph);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.button--secondary:hover {
  border: 1px solid var(--secondary-hover);
}

.container--secondary:active {
  border-radius: var(--border-radius);
  border: 2px solid var(--secondary-active);
}

.button--secondary:disabled {
  border: 1px solid var(--secondary) !important;
  color: var(--disabled);
}

.button--text {
  background-color: unset;
  border: 0;
  color: var(--text);
}

.button--text:hover {
  color: var(--text-hover);
}

.button--text:active {
  color: var(--text-active);
}

.button--text:disabled {
  color: var(--paragraph);
  opacity: 0.4;
}

.container--text:active {
  border-radius: var(--border-radius);
  border: 2px solid var(--border-active);
}

@keyframes loading {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.loader>span {
  width: 8px;
  height: 8px;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  background-color: var(--text);
  transform: scale(0);
}

.loader>span:first-child {
  animation: .5s loading 0.5s alternate infinite;
}

.loader>span:nth-child(2) {
  animation: .5s loading 0.6s alternate infinite;
}

.loader>span:last-child {
  animation: .5s loading 0.9s alternate infinite;
}