.classic {
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  --primary: #00398F;
  --primary-hover: #0049B7;
  --primary-active: #0154D1;

  --heading: #222831;
  --paragraph: #474D66;
  --paragraph-light: #696F8C;

  --link: #0066FF;
  --light: #fcfcfc;

  --disabled: #D8DAE5;
  --error: #CC3F40;

  --border-radius: 4px;

  --font-xsmall: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-family: var(--font-family);
}

.input {
  font-family: var(--font-family);
  border: 1px solid var(--disabled);
  border-radius: var(--border-radius);
  outline: none;
  font-size: var(--font-medium);
  color: var(--paragraph);
  resize: none;
  padding: 10px 16px;
}

.label,
.helper-text {
  font-size: var(--font-xsmall);
  color: var(--paragraph-light);
}

.input::placeholder {
  font-family: var(--font-family);
  font-size: var(--font-medium);
  color: var(--paragraph-light);
}

.input:hover {
  border: 1px solid var(--primary-hover);
}

.input:focus {
  border: 1px solid var(--primary-active);
}

.container:hover>.label {
  color: var(--primary-hover);
}

.container--disabled,
.container--disabled>textarea:hover,
.container--disabled>textarea:focus {
  border: 1px solid var(--disabled);
  color: var(--disabled);
}

.container--disabled>textarea::placeholder,
.container--disabled>.label,
.container--disabled>.helper-text {
  color: var(--disabled) !important;
}

.input--error,
.container--error>textarea:hover,
.container--error>textarea:focus {
  border: 1px solid var(--error);
}

.container--error>.label,
.container--error>.helper-text {
  color: var(--error) !important;
}