.CoreLabUI-classic__tag {
    font-family: var(--font-family);
    width: var(--tag-width);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    border-radius: var(--border-radius);
    padding: 0.1em 1em;
}

.CoreLabUI-classic__tag--outlined {
    border: 1px solid var(--tag-border);
    background-color: var(--tag-background);
}

.CoreLabUI-classic__tag--contained {
    border: 1px solid var(--tag-background);
    background-color: var(--tag-background);
}
