@keyframes CoreLabUI-classic-dropdown-arrow-keyframe {
    0% {
        top: 0;
    }

    100% {
        top: -5px;
        opacity: 1;
    }
}

@keyframes CoreLabUI-classic-dropdown-open-keyframe {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        z-index: 2;
    }
}

@keyframes CoreLabUI-classic-dropdown-close-keyframe {
    0% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        z-index: 2;
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.CoreLabUI-classic__dropdown {
    width: fit-content;
    position: relative;
}

.CoreLabUI-classic__dropdown-content {
    position: absolute;
    background-color: var(--background);
    box-shadow: var(--box-shadow);
    padding: 0.7em 0.7em 0.7em;
    min-width: var(--min-width);
    margin-top: 0.1em;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s, opacity 0.1s;
    left: var(--left);
    right: var(--right);
}

.CoreLabUI-classic__dropdown-content--open {
    animation: CoreLabUI-classic-dropdown-open-keyframe 0.3s ease-in-out
        forwards;
    display: block;
    z-index: 4;
}

.CoreLabUI-classic__dropdown-content--closed {
    animation: CoreLabUI-classic-dropdown-close-keyframe 0.3s ease-in-out
        forwards;
    display: none;
}

.CoreLabUI-classic__dropdown-trigger:hover
    + .CoreLabUI-classic__dropdown-content {
    opacity: 1;
    transform: translateY(0);
    z-index: 4;
}
