.CoreLabUI-classic__heading1,
.CoreLabUI-classic__heading2,
.CoreLabUI-classic__heading3,
.CoreLabUI-classic__heading4,
.CoreLabUI-classic__heading5,
.CoreLabUI-classic__heading6,
.CoreLabUI-classic__subtitle1,
.CoreLabUI-classic__subtitle2,
.CoreLabUI-classic__body1,
.CoreLabUI-classic__body2,
.CoreLabUI-classic__caption {
    font-family: var(--font-family);
    margin-top: 0;
    color: var(--typography-color);
}

.CoreLabUI-classic__heading1 {
    font-weight: 300;
    font-size: 6rem;
    line-height: 1.167;
    letter-spacing: -0.01562em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__heading2 {
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__heading3 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.167;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__heading4 {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__heading5 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__heading6 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__subtitle1 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__subtitle2 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.57;
    letter-spacing: 0.00714em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__body1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__body2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    margin-bottom: 0.35em;
}

.CoreLabUI-classic__caption {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    margin-bottom: 0.35em;
    display: block;
}

.CoreLabUI-classic__no-margin {
    margin-bottom: 0;
}

.CoreLabUI-classic__ellipsis,
.CoreLabUI-classic__clip {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.CoreLabUI-classic__ellipsis {
    text-overflow: ellipsis;
}

.CoreLabUI-classic__clip {
    text-overflow: clip;
}

.CoreLabUI-classic__lines {
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
}
