.CoreLabUI-classic__breadcrumb {
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.5em;
    font-family: var(--font-family);
}

.CoreLabUI-classic__breadcrumb-item,
.CoreLabUI-classic__breadcrumb-item--inactive,
.CoreLabUI-classic__breadcrumb-separator {
    color: var(--text-secondary);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.CoreLabUI-classic__breadcrumb-item--active,
.CoreLabUI-classic__breadcrumb-item:hover {
    color: var(--caption);
}
