.CoreLabUI-classic__table-of-contents-item {
    display: block;
    padding: 0.2em 1em;
    text-decoration: none;
    color: inherit;
    width: 100%;
    cursor: pointer;
    border-left: 2px solid var(--border-color);
}

.CoreLabUI-classic__table-of-contents-item:hover {
    border-left: 2px solid var(--primary);
    color: var(--primary);
}

.CoreLabUI-classic__table-of-contents-item--active,
.CoreLabUI-classic__table-of-contents-item:active {
    border-left: 2px solid var(--primary);
    background-color: var(--primary-disabled);
}
