.CoreLabUI-classic__highlight {
    color: var(--highlight-color);
    background: var(--highlight-background);
}

.CoreLabUI-classic__highlight--gradient {
    background: var(--highlight-background);
    /* fallback for old browsers */
    background: var(--highlight-webkit-linear-gradient);
    /* Chrome 10-25, Safari 5.1-6 */
    background: var(--highlight-linear-gradient);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.CoreLabUI-classic__highlight--gradient-text {
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
