.CoreLabUI-classic__link {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    font-family: var(--font-family);
    line-height: 1.5;
    font-weight: 500;
}

.CoreLabUI-classic__link--small {
    font-size: var(--font-small);
}

.CoreLabUI-classic__link--medium {
    font-size: var(--font-medium);
}

.CoreLabUI-classic__link--large {
    font-size: var(--font-large);
}

.CoreLabUI-classic__link:hover,
.CoreLabUI-classic__link:active {
    color: var(--primary-hover) !important;
}

.CoreLabUI-classic__link--disabled {
    color: var(--text-disabled);
    opacity: 0.4;
    pointer-events: none;
}

.CoreLabUI-classic__link-decoration {
    transform: scale(0);
    transform-origin: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.05em;
    background-color: var(--primary-hover);
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}

.CoreLabUI-classic__link:hover > .CoreLabUI-classic__link-decoration,
.CoreLabUI-classic__link:focus > .CoreLabUI-classic__link-decoration {
    color: var(--primary);
    opacity: 1;
    transform: scale(1);
}
