.CoreLabUI-classic__btn-root {
    width: var(--button-width);
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    display: inline-block;
    position: relative;
}

.CoreLabUI-classic__btn-root--disabled {
    border: 2px solid transparent !important;
    background: inherit !important;
}

.CoreLabUI-classic__btn {
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    z-index: 1;
    width: var(--button-width);
}

.CoreLabUI-classic__btn > span {
    position: relative;
}

.CoreLabUI-classic__btn--small {
    font-size: var(--font-small);
    min-width: 59px;
    height: 33px;
    padding: 0 0.5em;
}

.CoreLabUI-classic__btn--medium {
    font-size: var(--font-medium);
    min-width: 96px;
    height: 40px;
    padding: 0 1em;
}

.CoreLabUI-classic__btn--large {
    font-size: var(--font-large);
    min-width: 100px;
    height: 47px;
    padding: 0 1em;
}

.CoreLabUI-classic__btn:disabled {
    pointer-events: none;
    border: inherit;
}

.CoreLabUI-classic__btn--primary {
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--light);
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow);
}

.CoreLabUI-classic__btn--primary:hover {
    background: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}

.CoreLabUI-classic__btn-root--primary:active {
    border-radius: var(--border-radius);
    background: var(--primary-active);
    border: 2px solid var(--primary-active);
}

.CoreLabUI-classic__btn--primary:disabled {
    background: var(--primary-disabled);
    border: 2px solid inherit;
    pointer-events: none;
}

.CoreLabUI-classic__btn--secondary {
    background: var(--background);
    border: 1px solid var(--secondary);
    color: var(--text);
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow);
}

.CoreLabUI-classic__btn--secondary:hover {
    border: 1px solid var(--primary-hover);
    color: var(--primary-hover);
}

.CoreLabUI-classic__btn-root--secondary:active {
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-active);
}

.CoreLabUI-classic__btn--secondary:disabled {
    border: 1px solid var(--secondary-disabled) !important;
    color: var(--border-color);
}

.CoreLabUI-classic__btn--text {
    background: unset;
    border: 0;
    padding: 4px;
    color: var(--primary);
    height: auto;
    min-width: fit-content;
    width: fit-content;
}

.CoreLabUI-classic__btn--text:hover {
    color: var(--primary-hover);
}

.CoreLabUI-classic__btn--text:disabled {
    color: var(--text-disabled);
}

.CoreLabUI-classic__btn-root--text:active {
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-active);
}

@keyframes CoreLabUI-classic-loading-keyframe {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.CoreLabUI-classic__btn__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.CoreLabUI-classic__btn__loader > span {
    width: 8px;
    height: 8px;
    box-shadow: var(--button-shadow);
    border-radius: 4px;
    background: var(--primary-disabled);
    transform: scale(0);
}

.CoreLabUI-classic__btn__loader--primary > span {
    background: white !important;
}

.CoreLabUI-classic__btn__loader > span:first-child {
    animation: 0.5s CoreLabUI-classic-loading-keyframe 0.5s alternate infinite;
}

.CoreLabUI-classic__btn__loader > span:nth-child(2) {
    animation: 0.5s CoreLabUI-classic-loading-keyframe 0.6s alternate infinite;
}

.CoreLabUI-classic__btn__loader > span:last-child {
    animation: 0.5s CoreLabUI-classic-loading-keyframe 0.9s alternate infinite;
}
