.CoreLabUI__navigation-item {
    border: 1px solid transparent;
    padding: var(--nav-item-padding);
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin: var(--nav-item-margin);
    border-radius: var(--border-radius);
}

.CoreLabUI__navigation-item--divided {
    padding: 1em 2em;
}

.CoreLabUI__navigation-item--divided
    > .CoreLabUI__navigation-item-title
    > span {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.CoreLabUI__navigation-item:visited {
    color: inherit;
}

.CoreLabUI__navigation-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CoreLabUI__navigation-item:hover {
    background-color: var(--hover);
    border-radius: var(--border-radius);
}

.CoreLabUI__navigation-item:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: -2px;
    background-color: var(--hover);
}

.CoreLabUI__navigation-item--active,
.CoreLabUI__navigation-item--active:hover,
.CoreLabUI__navigation-item--active:focus-visible,
.CoreLabUI__navigation-item:active {
    background-color: var(--primary-active);
}

.CoreLabUI__navigation-item--active > div > span {
    color: var(--primary);
}

.CoreLabUI__navigation-item--divided,
.CoreLabUI__navigation-item--divided:hover,
.CoreLabUI__navigation-item--divided:active,
.CoreLabUI__navigation-item--disabled {
    border: 1px solid transparent;
    background-color: var(--background);
    cursor: initial;
}

.CoreLabUI__navigation-item--disabled {
    pointer-events: none;
    cursor: unset;
}

.CoreLabUI__navigation-item--divided > div > span,
.CoreLabUI__navigation-item--disabled > div > span,
.CoreLabUI__navigation-item--disabled > div > p {
    color: var(--text-secondary);
}
