.CoreLabUI-classic__navigation-item {
    border: 1px solid transparent;
    padding: 0.2em 2em;
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin-bottom: 0.5em;
}

.CoreLabUI-classic__navigation-item--divided {
    padding: 0.5em 2em;
}

.CoreLabUI-classic__navigation-item:visited {
    color: inherit;
}

.CoreLabUI-classic__navigation-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CoreLabUI-classic__navigation-item:hover {
    background-color: var(--hover);
}

.CoreLabUI-classic__navigation-item--active,
.CoreLabUI-classic__navigation-item:active {
    background-color: var(--primary-active);
}

.CoreLabUI-classic__navigation-item--active > div > span {
    color: var(--primary);
}

.CoreLabUI-classic__navigation-item--divided,
.CoreLabUI-classic__navigation-item--divided:hover,
.CoreLabUI-classic__navigation-item--divided:active,
.CoreLabUI-classic__navigation-item--disabled {
    border: 1px solid transparent;
    background-color: var(--background);
    cursor: initial;
}

.CoreLabUI-classic__navigation-item--disabled {
    pointer-events: none;
    cursor: unset;
}

.CoreLabUI-classic__navigation-item--divided > div > span,
.CoreLabUI-classic__navigation-item--disabled > div > span,
.CoreLabUI-classic__navigation-item--disabled > div > p {
    color: var(--text-secondary);
}
