.CoreLabUI-classic__btn-root {
    position: relative;
    width: fit-content;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    display: inline-block;
}

.CoreLabUI-classic__btn-root--disabled {
    border: 2px solid transparent !important;
    background: inherit !important;
}

.CoreLabUI-classic__btn {
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    z-index: 1;
}

.CoreLabUI-classic__btn>span {
    position: relative;
    z-index: 2;
}

.CoreLabUI-classic__btn--small {
    font-size: var(--font-small);
    padding: 8px 16px;
}

.CoreLabUI-classic__btn--medium {
    font-size: var(--font-medium);
    min-width: 100px;
    padding: 12px 24px;
}

.CoreLabUI-classic__btn--large {
    font-size: var(--font-large);
    min-width: 100px;
    padding: 16px 32px;
}

.CoreLabUI-classic__btn:disabled {
    pointer-events: none;
    border: inherit;
}

.CoreLabUI-classic__btn--primary {
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.CoreLabUI-classic__btn--primary:hover {
    background: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}

.CoreLabUI-classic__btn-root--primary:active {
    border-radius: var(--border-radius);
    background: var(--primary-active);
    border: 2px solid var(--active);
}

.CoreLabUI-classic__btn--primary:disabled {
    background: var(--disabled);
    border: 2px solid var(--disabled);
}

.CoreLabUI-classic__btn--secondary {
    background: var(--white);
    border: 1px solid var(--secondary);
    color: var(--paragraph);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.CoreLabUI-classic__btn--secondary:hover {
    border: 1px solid var(--secondary-hover);
}

.CoreLabUI-classic__btn-root--secondary:active {
    border-radius: var(--border-radius);
    border: 2px solid var(--secondary-active);
}

.CoreLabUI-classic__btn--secondary:disabled {
    border: 1px solid var(--secondary) !important;
    color: var(--disabled);
}

.CoreLabUI-classic__btn--text {
    background: unset;
    border: 0;
    color: var(--text);
}

.CoreLabUI-classic__btn--text:hover {
    color: var(--text-hover);
}

.CoreLabUI-classic__btn--text:active {
    color: var(--text-active);
}

.CoreLabUI-classic__btn--text:disabled {
    color: var(--paragraph);
    opacity: 0.4;
}

.CoreLabUI-classic__btn-root--text:active {
    border-radius: var(--border-radius);
    border: 2px solid var(--active);
}

@keyframes CoreLabUI-classic-loading-keyframe {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.CoreLabUI-classic__btn__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.CoreLabUI-classic__btn__loader>span {
    width: 8px;
    height: 8px;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    background: var(--text);
    transform: scale(0);
}

.CoreLabUI-classic__btn__loader>span:first-child {
    animation: 0.5s CoreLabUI-classic-loading-keyframe 0.5s alternate infinite;
}

.CoreLabUI-classic__btn__loader>span:nth-child(2) {
    animation: 0.5s CoreLabUI-classic-loading-keyframe 0.6s alternate infinite;
}

.CoreLabUI-classic__btn__loader>span:last-child {
    animation: 0.5s CoreLabUI-classic-loading-keyframe 0.9s alternate infinite;
}