.CoreLabUI-classic__field-root {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    font-family: var(--font-family);
}

.CoreLabUI-classic__field {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    font-size: var(--font-medium);
    color: var(--text);
    background-color: var(--fields-background);
}

.CoreLabUI-classic__field--small {
    padding: 10px 16px;
    height: 40px;
}

.CoreLabUI-classic__field--medium {
    padding: 10px 16px;
    height: 48px;
}

.CoreLabUI-classic__field--large {
    padding: 10px 16px;
    height: 56px;
}

.CoreLabUI-classic__field__label,
.CoreLabUI-classic__field__helper-text {
    font-size: var(--font-xsmall);
    color: var(--text-secondary);
}

.CoreLabUI-classic__field::placeholder {
    font-size: var(--font-medium);
    color: var(--text-secondary);
}

.CoreLabUI-classic__field:hover {
    border: 1px solid var(--primary-hover);
}

.CoreLabUI-classic__field:focus {
    border: 1px solid var(--primary-hover);
}

.CoreLabUI-classic__field-root:hover > .CoreLabUI-classic__field__label {
    color: var(--primary-hover);
}

.CoreLabUI-classic__field-root--disabled > input:hover,
.CoreLabUI-classic__field-root--disabled > input:focus {
    border: 1px solid var(--border-color);
    color: var(--border-color);
}

.CoreLabUI-classic__field-root--disabled > input::placeholder,
.CoreLabUI-classic__field-root--disabled > .CoreLabUI-classic__field__label,
.CoreLabUI-classic__field-root--disabled
    > .CoreLabUI-classic__field__helper-text {
    color: var(--border-color) !important;
}

.CoreLabUI-classic__field--error,
.CoreLabUI-classic__field-root--error > input:hover,
.CoreLabUI-classic__field-root--error > input:focus {
    border: 1px solid var(--error);
}

.CoreLabUI-classic__field-root--error > .CoreLabUI-classic__field__label,
.CoreLabUI-classic__field-root--error > .CoreLabUI-classic__field__helper-text {
    color: var(--error) !important;
}
