.CoreLabUI-classic__layout {
    display: grid;
}

.CoreLabUI-classic__layout--website {
    grid-template-areas: var(--layout-website-template-areas);
}

.CoreLabUI-classic__layout--dashboard {
    grid-template-areas: var(--layout-dashboard-template-areas);
}

.CoreLabUI-classic__layout--custom {
    grid-template-areas: var(--layout-template-areas);
}