.CoreLabUI-classic__layout-right--dashboard {
    grid-area: rt;
    grid-row: 2 / span 9;
    margin-top: calc(var(--header-height) + 1em);
    padding: var(--padding);
    margin: var(--margin);
    overflow-y: auto;
}

.CoreLabUI-classic__layout-right--custom {
    grid-column: var(--right-layout-grid-column);
    grid-row: var(--right-layout-grid-row);
    margin-top: calc(var(--header-height) + 1em);
    padding: var(--padding);
    margin: var(--margin);
    overflow-y: auto;
}

@media only screen and (max-width: 1200px) {
    .CoreLabUI-classic__layout-right--dashboard {
        display: none;
    }
}
