.CoreLabUI__layout {
    display: grid;
}

.CoreLabUI__layout--website {
    grid-template-areas: var(--layout-website-template-areas);
    height: 100%;
}

.CoreLabUI__layout--dashboard {
    grid-template-areas: var(--layout-dashboard-template-areas);
    height: 100%;
}

.CoreLabUI__layout--custom {
    grid-template-areas: var(--layout-template-areas);
}

@media only screen and (max-width: 1200px) {
    .CoreLabUI__layout--dashboard {
        grid-template-areas: var(--layout-dashboard-template-areas-md);
    }
}

@media only screen and (max-width: 768px) {
    .CoreLabUI__layout--dashboard {
        grid-template-areas: var(--layout-dashboard-template-areas-sm);
    }
}
